@font-face {
  font-family: 'Orbitron';
  src: local('Orbitron'), url(./fonts/Orbitron-VariableFont_wght.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: Orbitron, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:focus{
  border: none;
}
